@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Biryani", sans-serif;
}
body{
    /*background: lightcoral;*/
    background: var(--color-secundario);
    display: flex;
}
.sidebar{
    background: var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    height: 60em;
    padding: 1em;
    color:var(--color-font);
    border-top-right-radius: 10px;
}
.sidebar h1{
    margin-left: 3em;
    margin-top: 2em;
    font-size: 2em;
}
.sidebar_menu{
    margin: 10%;
    background: var(--color-secundario);
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
    border-top-left-radius: 50px; /* Aplica un borde circular solo al lado superior izquierdo */
    border-top-right-radius: 10px; /* Aplica un borde circular solo al lado superior derecho */
    border-bottom-left-radius: 20px; /* Aplica un borde circular solo al lado inferior izquierdo */
    border-bottom-right-radius: 30px;
    list-style: none;
    padding-left: 0;
}
/*.sidebar_menu li:first-child{
    transition: transform 0.3s;
}*/
.sidebar_menu li:hover{
    transition: transform 0.3s;
    transform: scale(1.1);
}
.sidebar_menu li a{
    text-decoration: none; /* Eliminar el subrayado */
    color: var(--color-font);
}
.sidebar_menu li:first-child:before{
    content: url("../storage/img/book-stack.svg");
    margin-right: .7em;
}
.sidebar_menu li:nth-child(2):before{
    content: url("../storage/img/dress.svg");
    margin-right: .7em;
}
.sidebar_menu li:nth-child(3):before{
    content: url("../storage/img/shirt.svg");
    margin-right: .7em;
}
.sidebar_menu li:nth-child(4):before{
    content: url("../storage/img/pants.svg");
    margin-right: .7em;
}
.sidebar_menu li:nth-child(5):before{
    content: url("../storage/img/cart-alt.svg");
    margin-right: .7em;
    padding-top: 2em;
}
.lista-item a:active{
    background-color: #f0f0f0; 
    color: white;
}
.sidebar_menu li:nth-child(3){
    background: var(--color-primario);
    border-radius: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 2em;
    text-align: center;
}
.container{
    background: var(--color-background);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .5fr repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "box1 box2 box3 box4"
    "box5 box6 box7 box8"
    "box9 box10 box11 box12"
    "box13 box14 box15 box16";
    width: 75%;
    height: 60em;
    padding: 1em;
    padding-top: 0;
    grid-gap: 1em;
    overflow-y: scroll;
    border-radius: 40px;
}
.container_header{
    grid-area: header;
    width: 72.4%;
    color: var(--color-font);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 30px;
}
.contour{
    border-radius: 15px;
    height: 25em;
    /*background: var(--color-terciario);*/
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 3.5em;
}
.box1_sub1{
    border-radius: 10px;
    /*background: greenyellow;*/
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom: 0;
    height: 20%;
    padding: 1em;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-size: 75%;
}
.box1_sub1 div:first-child h4{
    /*background: red;*/
    width: 92%;
}
.box1_sub1 div:first-child small{
    /*background: red;*/
    font-size: 1em;
}
.bottomPart{
    display: flex;
    justify-content: space-between;
}
.bottomPart i{
    font-size: 1.5em;
}
.box1{
    grid-area: box1;
    /*background: lightgoldenrodyellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 80%;
    height: auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    
}
.box1 img{
    transition: transform 0.3s
}
.box1:hover img{
    transform: scale(1.1);
}
.container .contour:nth-child(3) .box1 img{
    width: 78%;
}
.container .contour:nth-child(4) .box1 img{
    width: 92%;
}
.container .contour:nth-child(5) .box1 img{
    width: 73%;
}
.bottomPart button {
    background-color: #458ad3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    height: 2em;
}
.bottomPart:hover button{
    background-color: #0056b3;
}
.bottomPart:active button{
    background-color: #004080;
}
