@import url(variables.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5em repeat(5, 3fr) 2fr;
    grid-template-areas:
        "header"
        "frame1"
        "frame2"
        "frame3"
        "frame4"
        "frame5"
        "footer"
        ;
    width: 100%;
    height: 220em;
    /* background: coral; */
}
header a i:last-child{
    display: none;
}
.menu{
    width: 100%;
    height: 5em;
    background: var(--color-fondo-movil);
    color: var(--color-letras);
    display: flex;
    padding: 0 45px;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    position: fixed;
    z-index: 10;
}

.menu_item il a{
    margin: 20px;
    text-decoration: none;
    color: var(--color-letras-dos);
    text-transform: capitalize;
}
.frame1{
    display: flex;
    background: var(--color-fondo);
    height: 50em;
    width: 100%;
    padding: 15em;
    padding-left: 3.2em;
    justify-content: space-around;
    grid-area: frame1;
}

.frame1 img{
    /*background: red;*/
}

.frame1_item1{
    /*background: greenyellow;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    height: auto;
}

.frame1_item1 h1{
    font-size: 3.5em;
    text-transform: capitalize;
    color: var(--color-letras);
}

.frame1_item1 div p{
    color: var(--color-letras-dos);
    font-size: 1.3em;
}

.frame1_item1 button{
    background: var(--color-letras);
    color: var(--color-letras-dos);
    text-transform: capitalize;
    width: 35%;
    height: 2em;
    border: 0; 
}

.frame2{
    /* background: greenyellow; */
    background: var(--color-fondo);
    height: 50em;
    grid-area: frame2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15em;
    padding-left: 3.2em;
    width:100%;
}
.frame2 img{
    width: 25em;
    height: auto;
}
.frame2_item1{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25em;
}
.frame2_item1 small{
    color: var(--color-letras);
    text-transform: capitalize;
}
.frame2_item1 h2{
    color: var(--color-letras-dos);
    font-size: 2.2em;
}

.frame2_item1 p{
    color: var(--color-letras-dos);
    font-size: 1.2em;
}
.frame2_item1 button{
    background: var(--color-letras);
    color: var(--color-letras-dos);
    text-transform: capitalize;
    width: 35%;
    height: 2em;
    border: 0; 
}

.frame3{
    background: var(--color-fondo);
    height: 50em;
    grid-area: frame3;
    display: flex;
    flex-direction: column;
    padding: 15em;
}
.frame3_titulo,
.frame4_titulo{
    /* background: red; */
    margin: 2em 5em;
    text-align: center;
    line-height: 2em;
}

.frame3_titulo h4,
.frame4_titulo h4{
    color: var(--color-letras);
    text-transform: capitalize;
}
.frame3_titulo p,
.frame4_titulo p{
    font-size: 30px;
    color: var(--color-letras-dos);
}
.frame3_contenido{
    /* background: greenyellow; */
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
}
.frame3_contenido_parte1,
.frame3_contenido_parte2,
.frame3_contenido_parte3{
    background: var(--color-fondo-uno);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    border: 2em;
    border-color: var(--color-letras);
}
.frame3_contenido_parte1 a,
.frame3_contenido_parte2 a,
.frame3_contenido_parte3 a{
    position: absolute;
    right: 0;
    font-size: 1.5em;
    color: var(--color-letras);
}
.frame3_contenido_parte1 img{
    width: 100%;
    height: auto;
}
.frame3_contenido_parte1,
.frame3_contenido_parte2,
.frame3_contenido_parte3{
    margin-right: 4em;
    border: 10px;
    border-color: var(--color-letras-dos);
    /* background: red; */
    margin: 20px; /* Establece un margen de 20px en todos los lados del div */
    padding: 10px; /* Agrega un relleno interno de 10px */
    border: 1px solid var(--color-letras);
}

.frame3_contenido_parte1_contenido1,
.frame3_contenido_parte2_contenido1,
.frame3_contenido_parte3_contenido1{
    /* background: coral; */
    text-transform: capitalize;
    /*color: var(--color-letras-dos);*/
}
.frame3_contenido_parte1_contenido1 div,
.frame3_contenido_parte2_contenido1 div,
.frame3_contenido_parte3_contenido1 div{
    /* background: green; */
    margin-top: 5px;
    line-height: 1.1em;
    /*color: var(--color-letras-dos);*/
}
.frame3_contenido_parte1_contenido1 div small,
.frame3_contenido_parte2_contenido1 div small,
.frame3_contenido_parte3_contenido1 div small{
    color: var(--color-letras)
}
.frame4{
    background: var(--color-fondo);
    height: 50em;
    grid-area: frame4;
    display: flex;
    flex-direction: column;
    padding: 15em;
}
.frame4_contenido{
    /* background: greenyellow; */
    display: flex;
    align-items: center;
}
.frame4_contenido_parte1 img,
.frame4_contenido_parte2 img,
.frame4_contenido_parte3 img{
    width: 50%;
    height: auto;
}
.frame4_contenido{
    /* background: greenyellow; */
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2em;
    margin: 2em;
}
.frame4_contenido_parte1{
    /* background: red; */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin: 0 .5em;
}
.frame4_contenido_parte1 h3{
    color: var(--color-letras);
    text-transform: capitalize;
    font-size: 1.7em;
    margin-bottom: 1em;
}
.frame4_contenido_parte1 p{
    color: var(--color-letras-dos);
    /* background: red; */
    width: 48%;
}
.frame5{
    background: var(--color-fondo);
    height: 50em;
    grid-area: frame5;
    display: flex;
    flex-direction: column;
    padding: 15em;
}
.frame5_principal{
    background: var(--color-fondo-uno);
    text-align: center;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.frame5_principal p{
    /*background: red;*/
    font-size: 300%;
    width: 40%;
}
.frame5_principal button{
    background: var(--color-letras);
    color: var(--color-letras-dos);
    text-transform: capitalize;
    width: 8%;
    height: 2.5em;
    border: 0;

}
.footer{
    height: 20em;
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    padding: 60px 10%;
    grid-area: footer;
    background: var(--color-fondo);
}

ul{
    list-style: none;
}

.footer_columna{
    width: 25%;
}

.footer_columna h3{
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    text-transform: capitalize;
    color: var(--color-letras-dos);
}

.footer_columna h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: var(--color-letras);
    height: 2px;
    width: 40px;
}

ul li:not(:last-child){
    margin-bottom: 8px;
}

ul li a{
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.4s;
    color: var(--color-letras-dos)
}

ul li a:hover{
    color: white;
    padding-left: 2px;
}

.footer_links a{
    display: inline-block;
    height: 44px;
    width: 44px;
    color: var(--color-letras-dos);
    background-color: var(--color-letras);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

@media (width < 600px){
    body{
        background: pink;
        position: relative;
    }
    header a i{
        text-transform: none;
        color: inherit;
    }
    .menu_item{
        display: none;
    }

    .menu{
        width: 100%;
        height: 5em;
        background: var(--color-fondo-movil);
        color: var(--color-letras);
        position: fixed;
        z-index:-1;
        grid-area: header;
    }
    .frame1{
        position: absolute;
        top: 5em;
        background: var(--color-fondo);
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        height: 30em;
        padding: 1em;
        width: 100%;
        grid-area: frame1;
    }

    .frame1 img{
        width: 50%;
        height: auto;
        /* background: red; */
        position: absolute;
        bottom: 0px;
    }
    .frame1_item1{
        width: 82%;
        height: auto;
        display: flex;
        position: absolute;
        top: 0;
        /* flex-direction: column; */
        /* gap: 1em; */
        /* background: greenyellow; */
        text-align: center;
        margin-top: 5%;
    }
    .frame1_item1 h1{
        font-size: 2em;
        text-transform: capitalize;
        color: var(--color-letras);
    }

    .frame1_item1 div p{
        color: var(--color-letras-dos);
        font-size: 1em;
        text-align: center;
    }
    
    .frame1_item1 button{
        background: var(--color-letras);
        color: var(--color-letras-dos);
        text-transform: capitalize;
        width: 38%;
        height: 2em;
        border: 0;
        margin-left: 30%;
        margin-top: 20px; 
    }
    .frame2{
        top: 35em;
        position: absolute;
        background: var(--color-fondo);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40em;
        padding: 0px;
        /* background: coral; */
    }
    .frame2_item1{
        /* background: greenyellow; */
        position: absolute;
        top:10%;
        display: flex;
        align-items: center;
        text-align: center;
        
    }
    .frame2 img{
        position: absolute;
        width: 50%;
        height: auto;
        /* background: red; */
        bottom: 5%;
    }
    /*
    .frame3{
        top: 75em;
        position: absolute;
        background: greenyellow;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40em;
        width: 100%;
    }

    .frame3_contenido{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: red;
        margin-top: 1em;
        position: absolute;
        height: 38em;
        width: 80%;
    }
    .frame3_contenido_parte1,
    .frame3_contenido_parte2,
    .frame3_contenido_parte3{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .frame3_contenido_parte1 img,
    .frame3_contenido_parte2 img,
    .frame3_contenido_parte3 img{
        position: absolute;
        height: 10em;
        width: auto;
    } 

    }
    .frame4{
        background: red;
        position: absolute;
        top: 115em;
        display: flex;
        margin: 0;
    }
    .frame5{
        background: goldenrod;
        position: absolute;
        top: 150em;
    }
    .footer{
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        top: 180em;
    }

    .footer_columna{
        margin-bottom: 2em;
        /* background: red; 
        width: 50%;
    }

    .footer div:last-child{
        margin-left: 1em;
    }

*/ }