<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrito.css"> 
    <title>Document</title>
</head>
<body>
    <article class="sidebar">
        <div>
            <h1>CampusShop</h1>            
        </div>
        <ul class="sidebar_menu">
            <li><a href="#"></a>Todos los productos</li>
            <li><a href="#"></a>Abrigos</li>
            <li><a href="#"></a>Camisetas</li>
            <li><a href="#"></a>Pantalones</li>
            <li><a href="#"></a>Carrito</li>
        </ul>
        <small>2024 Camper</small>
    </article>
    <article class="main">
        <h>Carrito</h>
        <div class="contenedores">
            <div class="contenedor1">
                <img src="../storage/img/abrigo.webp">
                <div>
                    <h4>Nombre</h4>
                    <p>Pantalones 01</p>
                </div>
                <div>
                    <h4>cantidad</h4>
                    <small>2</small>
                </div>
                <div>
                    <h4>Precio</h4>
                    <small>$ 1.000</small>
                </div>
                <div>
                    <h4>Subtotal</h4>
                    <small>$ 2.000</small>
                </div>
            </div>
        </div>
    </article>
</body>
</html>