<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/carrito.css"> 
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <article class="sidebar">
        <div>
            <h1>CampusShop</h1>            
        </div>
        <ul class="sidebar_menu">
            <li><a href="../index.html">Todos los productos</a></li>
            <li><a href="#">Abrigos</a></li>
            <li><a href="#">Camisetas</a></li>
            <li><a href="#">Pantalones</a></li>
            <li><a href="#">Carrito</a></li>
        </ul>
        <small>2024 Camper</small>
    </article>
    <article class="main">
        <h2>Carrito</h2>
        <div class="contenedores">
            <div class="contenedor1">
                <img src="../storage/img/abrigo.webp">
                <div>
                    <h4>Nombre</h4>
                    <p>Pantalones 01</p>
                </div>
                <div>
                    <h4>cantidad</h4>
                    <small>2</small>
                </div>
                <div>
                    <h4>Precio</h4>
                    <small>$ 1.000</small>
                </div>
                <div>
                    <h4>Subtotal</h4>
                    <small>$ 2.000</small>
                </div>
                <a><i class='bx bxs-wallet'></i></a>
            </div>
        </div>
    </article>
</body>
</html>