<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Pantalones.css"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <article class="sidebar">
        <div>
            <h1>CampuShop</h1>            
        </div>
        <ul class="sidebar_menu">
            <li class="lista-item"><a href="../index.html">Todos los productos</a></li>
            <li class="lista-item"><a href="Abrigos.html">Abrigos</a></li>
            <li class="lista-item"><a href="Camisetas.html">Camisetas</a></li>
            <li class="lista-item"><a href="Pantalones.html">Pantalones</a></li>
            <li class="lista-item"><a href="carrito.html">Carrito</a></li>
        </ul>
        <small>2024 Camper</small>
    </article>
    <div class="container">
        <div class="container_header">
            <h1>Pantalones</h1>
        </div>
        <div class="contour">
            <div class="box1">
                <img src="../storage/img/pantalon1.webp">
                <div class="box1_sub1">
                    <div>
                        <h4>pantalon en dril licrado para hombre</h4>
                        <small>$ 58.900</small>
                    </div>
                    <div class="bottomPart">
                        <i class='bx bx-cart-add'><button>agregar</button></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="contour">
            <div class="box1">
                <img src="../storage/img/pantalonCamuflado.webp">
                <div class="box1_sub1">
                    <div>
                        <h4>pantalon camuflado de buen estilo</h4>
                        <small>$ 104.405</small>
                    </div>
                    <div class="bottomPart">
                        <i class='bx bx-cart-add'><button>agregar</button></i>
                    </div>    
                </div>
            </div>
        </div>
        <div class="contour">
            <div class="box1">
                <img src="../storage/img/pantalonJogger.webp">
                <div class="box1_sub1">
                    <div>
                        <h4>pantalon jogger cargo, táctico militar</h4>
                        <small>$ 104.500</small>
                    </div>
                    <div class="bottomPart">
                        <i class='bx bx-cart-add'><button>agregar</button></i>
                    </div>    
                </div>
            </div>
        </div>
        <div class="contour">
            <div class="box1">
                <img src="../storage/img/pantalonCaqui.webp">
                <div class="box1_sub1">
                    <div>
                        <h4>pantalon caqui entubado para hombre</h4>
                        <small>$ 61.750</small>
                    </div>
                    <div class="bottomPart">
                        <i class='bx bx-cart-add'><button>agregar</button></i>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</bo1y>
</html>